<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Document</title>
    <link rel="stylesheet" href="@/css">
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <form th:action="@{/form}" th:object="${cliente}" method="post">

        <input type="hidden" th:field="*{id}">

        <label>Nombre</label>
        <input type="text" th:field="*{nombre}">

        <label>Apellido</label>
        <input type="text" th:field="*{apellido}">

        <label>Email</label>
        <input type="email" th:field="*{email}">

        <label>Fecha</label>
        <input type="date" th:field="*{createAt}">

        <input type="submit" value="Guardar">

    </form>
</body>
</html>